<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="secretaria.css">
    <title>Página da Secretaria</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Secretaria</h1>
        </header>
        <div class="methods">
            <h2>Métodos</h2>
            <button onclick="window.location.href='gerarCurriculo.html'">gerarCurriculo</button>
            <button onclick="window.location.href='cadastrarAluno.html'">cadastrarAluno</button>
            <button onclick="window.location.href='cadastrarProf.html'">cadastrarProf</button>
            <button onclick="window.location.href='criarDisciplina.html'">criarDisciplina</button>
            <button onclick="window.location.href='atualizarDados.html'">atualizarDados</button>
        </div>
    </div>
</body>
</html>